body {
    background-color: palevioletred;
}

.top-box {
    display: flex;
    justify-content: space-between;
}

.nav {

}

.profile-pic {
    display: flex;
    flex-direction: row;
}

.profile-info {
    display: flex;
    flex-direction: row;
}

.additional-doe-info{
  display: block;
  flex-direction: row;
}
.pic-links {
    display: flex;
    flex-direction: column;
  float: left;
}

.pfp-links {
display: flex;
flex-direction: row;
}

.contact-links {
    display: flex;
    flex-direction: row;
}

.contact-link {
  flex-direction: column;
}

.profile-text {
    display: flex;
    flex-direction: row;
  float: right;
}

.pronouns {
  display: flex;
}

.username {
    display: flex;
    flex-direction: column;
}